
.head-about{
background-color:linear-gradient(45deg, rgb(0, 251, 255), red);

}
.img_self{
    display: flex;
    justify-content: center;
     
}
.img_self .pic{
    box-shadow: 0 19px 38px rgba(238, 234, 234, 0.3), 0 15px 12px rgba(239, 238, 238, 0.22);
}
.Third{
   font-weight: 600;
   font-size: medium;
    display: flex;
justify-content: center;
}
.cse{
    font-size: small;
  font-weight: 400;
    display: flex;
justify-content: center;
}
.post{
  font-size: large;   
}
.exp-head{
    text-decoration: underline; 
    
   
}
ul li{
    font-size: small;
}

@media screen and (max-width:650px) {

    .Third{
        font-weight: 600;
        font-size: small;
         display: flex;
     justify-content: center;
     }
     .cse{
         font-size: smaller;
       font-weight: 400;
         display: flex;
     justify-content: center;
     }
     .post{
        padding: 5px;
       font-size: small;   
     }
     .exp-head{
         text-decoration: underline; 
         display: flex;
         justify-content: center;
        
     }
     ul li{
         font-size: small;
     }
     .left_about{
        padding: 50px;
     }
}
 